<html>
<head>
    <title>Springfield Library</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
</head>
<body>
    <div class="container">

        <div class="text-center">
            <h1>Springfield Library</h1><br>

            <p><a href="/books">Manage Catalog by Book</a></p>
            <p><a href="/authors">Manage Catalog by Author</a></p>
            <br><br>
            <form action="/">
                <button type="submit" class="btn btn-info">Back</button>
            </form>


        </div>



    </div>








</body>
</html>
