<html>
<head>
    <title>{{ author.getName }}</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
</head>
<body>
    <div class="container">
        <h4>Springfield Library</h4>

        <form action="/authors_public">
            <button type="submit" class="btn btn-info">Back to list of authors</button>
        </form>

        <h3>{{ author.getName }}</h3>
        <br>
        <p>Books written by this author:</p>
        {% if books is not empty %}
        <ol>
            {% for book in books|sort %}
            <li><a href="/books_public/{{ book.getId }}">{{ book.getTitle }}</a></li>
            {% endfor %}
        </ol>
        {% else %}
            <p>There are no books by this author.</p>
        {% endif %}
        <br>
    </div>
</body>
</html>
