<html>
<head>
    <title>Springfield Library</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
</head>
<body>
    <div class="container">
        <h4>Springfield Library</h4>


        <form action="/public">
            <button type="submit" class="btn btn-info">Home</button>
        </form>
        <form action="/books_public">
            <button type="submit" class="btn btn-info">Book Catalog</button>
        </form>




        <h2>Author Catalog:</h2>
        {% if authors is not empty %}
        <ol>
            {% for author in authors|sort %}
            <li><a href="/authors_public/{{ author.getId }}">{{ author.getName }}</a></li>
            {% endfor %}
        </ol>
        {% else %}
            <p>There are no Authors</p>
        {% endif %}
    </div>






</body>
</html>
