<html>
<head>
    <title>Springfield Library</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
</head>
<body>
    <div class="container">

        <div class="text-center">
            <h1>Your Springfield Library!</h1><br>

            <p><a href="/books">View Catalog</a></p>
        </div>
    </div>
</body>
</html>
